body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('../assets/ProjectEarth.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.base1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  width: 460px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 15px 20px;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.tittle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
  color: white;
}

.label {
  color: #ffffff;
  font-size: 13px;
  margin-left: 4px;
  display: block;
  margin-top: 6px;
  margin-bottom: 2px;
}

.inputs {
  width: 92%;
  padding: 5px 7px;
  background-color: #eee;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-left: 4px;
  font-size: 12px;
}

.button {
  width: 92%;
  padding: 8px;
  background-color: #1647f7;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 14px auto 0;
  display: block;
}

.button:hover {
  background-color: #0341ac;
}

.loginlink {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 8px;
  color: #4e9eff;
  text-decoration: none;
}

.loginlink:hover {
  text-decoration: underline;
}
